@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: "Poppins", Arial, Helvetica, sans-serif;

}
html{
    font-size: 10px;
}
main{
    display: flex;
}
main #image{
  flex: 1;
}
main form{
    flex: 1;
    max-width: 100%;
    max-height: 100%; 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
    padding: 5rem;
    font-size: 1.5rem;
}
main form #title p{
    display: flex;
    justify-content: center;
  }
  form{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }
.switch {
        display: flex;
        width: 20rem;
        height: 0.3rem;
      }
.switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
.slider p{
        color: #FFFFFF;
        width: 13rem;
        height: 4rem;
        padding:1rem;
      }
.slider {
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-left: 15rem;
        z-index: 2;
        cursor: pointer;
        background-color:#49BBBD99 ;
        transition: .4s;
        font-size: 2rem;
        border-radius: 3rem;
       width: 30rem;
       height: 4rem;
       gap: 2rem;
      }
.slider:before {
        z-index: 1;
        content: "Login";
        font-size: 2rem;
        color: #FFFFFF;
        border-radius: 3rem;
        height: 2.5rem;
        width: 7rem;
        font-size: 1.5rem;
        background-color: #49BBBD;
        transition: .2s;
        text-align: center;
      }
input:checked + .slider {
        background-color:#49BBBD99;
      }
input:checked +.slider:before {
        -webkit-transform: translateX(4rem);
        -ms-transform: translateX(4rem);
        transform: translateX(4rem);
    }
main form #text p{
        padding-top: 3rem;
    }
main form .element{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
   
}
main form .element input[type="text"]{
    padding: 1rem;
    border-radius: 2rem;
border-color: #49BBBD;
}
main form .element input[type="text"]::placeholder{
font-weight: 400;
color:#ACACAC;
font-size: 1rem;
}
main form #remember-forget{
    display: flex;
    justify-content: space-between;

}
main form #remember-forget #remember-me{
    display: flex;
    align-items: center;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: #000000;
}
main form #button button{
background-color: #274C5B;
color:#FFFFFF ;
border: none;
padding: 1rem;
margin-top: 2rem;
margin-left: 50%;
border-radius: 4rem;
font-size: 1.5rem;
width: 50%;
}
@media (max-width:768px){
main {
display: flex;
flex-direction: column;
}
main form #switch{
   font-size: 0.5rem;
   justify-content: left;
}
}





